*{
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif, Roboto;
}
.main{
    height: 100vh;
    margin:0 !important;
}
.item{
    
    text-align: center;
    align-items:center;
    justify-content: center;
    padding:0;

}
.content{
    top:200px;
    bottom:200px;
    padding-bottom: 200px;
    
}
.title{
    font-size: 55pt;
    
}